# Print

## it shows output

In [1]:
print("Noor")

Noor

In [3]:
print("25051970")

25051970

In [5]:
print("My name is Noor Vastani. I am a student at PJ\ni am a student learning AI")

My name is Noor Vastani. I am a student at PJ
i am a student learning AI

In [6]:
print (1970)

1970

In [7]:
print (22.5)

22.5

In [9]:
print("""My name is Noor Vastani. 
I am a student""")

My name is Noor Vastani.
I am a student

In [10]:
print("Quaid said; 'No force can undo Pakistan'")

Quaid said; 'No force can undo Pakistan'

In [11]:
print("""Platinum jamatkhana is located at lobo street. close to Ali bhai.The facility Platinum Jamatkhana has excellent vision """)

Platinum jamatkhana is located at lobo street. close to Ali bhai.The facility Platinum Jamatkhana has excellent vision

In [14]:
institute = "Platinum Jamat khana"

# Variables

## Conventions

#### Variable names cannot be enclosed

#### they cannot be ONLY python keywords

##### They cannot be spaced

######  They cannot be ONLY numbers

##### Numbers cannot come first in the variable name

###### Varible name can contain only letters, numbers and underscore

###### Beware of Capital letters --> Rose =! rose

##### Use of Underscore for breaking up variable words--> for readability

In [16]:
print(123)
print(456)

123
456

In [19]:
print("My date of birth is " + "25051970")

My date of birth is 25051970

In [22]:
print ("2"+"2")

22